## Verilerin istatistiksel oalrak incelenip aykırı değerlerin ayıklanması

In [36]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [37]:
#verileri yükleme
df = pd.read_csv('data.csv')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   İlçe       10127 non-null  object
 1   Mahalle    10127 non-null  object
 2   Oda        10127 non-null  int64
 3   Salon      10127 non-null  int64
 4   m^2        10127 non-null  int64
 5   Bina Yaşı  10127 non-null  int64
 6   Kat        10127 non-null  int64
 7   Fiyat      10127 non-null  int64
dtypes: int64(6), object(2)
memory usage: 633.1+ KB

In [39]:
#değişken türlerini düzenli bir biçimde tanımladık
df['İlçe'] = df['İlçe'].astype('category')
df['Mahalle'] = df['Mahalle'].astype('category')
df['Oda'] = df['Oda'].astype('int')
df['Salon'] = df['Salon'].astype('int')
df['m^2'] = df['m^2'].astype('int')
df['Bina Yaşı'] = df['Bina Yaşı'].astype('int')
df['Kat'] = df['Kat'].astype('int')
df['Fiyat'] = df['Fiyat'].astype('int')

numeric değişkenlerin minimum, maksimum ve çeyreklik değerlerinin bulunması

In [40]:
columns = df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    min_value = Q1 - 1.5*IQR
    max_value = Q3 + 1.5*IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"column: {column}, min: {min_value}, max: {max_value}")

column: Oda, min: 0.5, max: 4.5
column: Salon, min: 1.0, max: 1.0
column: m^2, min: 43.0, max: 195.0
column: Bina Yaşı, min: -27.0, max: 61.0
column: Kat, min: -3.5, max: 8.5
column: Fiyat, min: -250.0, max: 45750.0

aykırı değerlerin temizlenmesi

In [41]:
for i, column in enumerate(columns):
    df = df[(df[column]>=min_values[i]) & (df[column]<=max_values[i])]

In [42]:
df.describe()

,Oda,Salon,m^2,Bina Yaşı,Kat,Fiyat
count,8439.000000,8439.0,8439.000000,8439.000000,8439.000000,8439.000000
mean,2.641071,1.0,114.834222,19.440455,2.242564,21630.038512
std,0.742331,0.0,28.669313,12.675625,1.979226,7368.483500
min,1.000000,1.0,43.000000,0.000000,-3.000000,1000.000000
25%,2.000000,1.0,100.000000,10.000000,1.000000,16000.000000
50%,3.000000,1.0,120.000000,20.000000,2.000000,20000.000000
75%,3.000000,1.0,130.000000,30.000000,3.000000,25500.000000
max,4.000000,1.0,195.000000,60.000000,8.000000,45500.000000

kira fiyatı için elle düzeltme

In [43]:
df = df[df["Fiyat"]>=3000]

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8434 entries, 0 to 10124
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   İlçe       8434 non-null   category
 1   Mahalle    8434 non-null   category
 2   Oda        8434 non-null   int64
 3   Salon      8434 non-null   int64
 4   m^2        8434 non-null   int64
 5   Bina Yaşı  8434 non-null   int64
 6   Kat        8434 non-null   int64
 7   Fiyat      8434 non-null   int64
dtypes: category(2), int64(6)
memory usage: 497.7 KB

In [45]:
df.to_csv('data_cleaned.csv', index=False)