## Verilerin istatistiksel oalrak incelenip aykırı değerlerin ayıklanması

In [50]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [51]:
#verileri yükleme
df = pd.read_csv('data.csv')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   İlçe        10127 non-null  object
 1   Mahalle     10127 non-null  object
 2   Oda Sayısı  10127 non-null  int64
 3   m^2         10127 non-null  int64
 4   Bina Yaşı   10127 non-null  int64
 5   Kat         10127 non-null  int64
 6   Fiyat       10127 non-null  int64
dtypes: int64(5), object(2)
memory usage: 553.9+ KB

In [54]:
#değişken türlerini düzenli bir biçimde tanımladık
df['İlçe'] = df['İlçe'].astype('category')
df['Mahalle'] = df['Mahalle'].astype('category')
df['Oda Sayısı'] = df['Oda Sayısı'].astype('int')
df['m^2'] = df['m^2'].astype('int')
df['Bina Yaşı'] = df['Bina Yaşı'].astype('int')
df['Kat'] = df['Kat'].astype('int')
df['Fiyat'] = df['Fiyat'].astype('int')

numeric değişkenlerin minimum, maksimum ve çeyreklik değerlerinin bulunması

In [55]:
columns = df.select_dtypes(include=[np.number]).columns
min_values = []
max_values = []
for column in columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    min_value = Q1 - 1.5*IQR
    max_value = Q3 + 1.5*IQR
    min_values.append(min_value)
    max_values.append(max_value)
    print(f"column: {column}, min: {min_value}, max: {max_value}")

column: Oda Sayısı, min: 1.5, max: 5.5
column: m^2, min: 43.0, max: 195.0
column: Bina Yaşı, min: -27.0, max: 61.0
column: Kat, min: -3.5, max: 8.5
column: Fiyat, min: -250.0, max: 45750.0

aykırı değerlerin temizlenmesi

In [56]:
for i, column in enumerate(columns):
    df = df[(df[column]>=min_values[i]) & (df[column]<=max_values[i])]

In [57]:
df.describe()

        Oda Sayısı          m^2    Bina Yaşı          Kat         Fiyat
count  8517.000000  8517.000000  8517.000000  8517.000000   8517.000000
mean      3.635552   114.824116    19.426441     2.241634  21610.836562
std       0.746430    28.637562    12.676769     1.977941   7361.953912
min       2.000000    43.000000     0.000000    -3.000000   1000.000000
25%       3.000000   100.000000    10.000000     1.000000  16000.000000
50%       4.000000   120.000000    20.000000     2.000000  20000.000000
75%       4.000000   130.000000    30.000000     3.000000  25000.000000
max       5.000000   195.000000    60.000000     8.000000  45500.000000

kira fiyatı için elle düzeltme

In [58]:
df = df[df["Fiyat"]>=3000]

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8512 entries, 0 to 10124
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   İlçe        8512 non-null   category
 1   Mahalle     8512 non-null   category
 2   Oda Sayısı  8512 non-null   int64
 3   m^2         8512 non-null   int64
 4   Bina Yaşı   8512 non-null   int64
 5   Kat         8512 non-null   int64
 6   Fiyat       8512 non-null   int64
dtypes: category(2), int64(5)
memory usage: 435.7 KB

In [60]:
df.to_csv('data_cleaned.csv', index=False)