## Ankara için bir kira tahmini uygulaması

In [94]:
import os
import numpy as np
import pandas as pd

In [95]:
#csv dosyasındaki verileri 
df = pd.read_csv('hepsiEmlakAnkaraKiralikDaireler.csv')

In [96]:
#sütunları inceleme
print(df.columns)

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'list-view-title', 'left', 'celly', 'celly 2', 'celly 3', 'celly 4',
       'list-view-location', 'img-wrp href', 'he-lazy-image src', 'wp-btn',
       'listing-card--owner-info__firm-name', 'img-wrp href 2',
       'he-lazy-image src 2', 'listing-card--owner-info__name',
       'he-lazy-image src 3', 'list-view-header'],
      dtype='object')

In [97]:
#adresleri yeni bi df yapalım
addressDf = pd.DataFrame(df['list-view-location'].str.split('/', expand=True))
addressDf.columns = ["İl","İlçe","Mahalle"]
#burada tüm il sütununda Ankara yazdığı için belirli bir ölçüt değildir, zaten programın amacı Ankara'daki iller olduğu
#için il sütununu siliyoruz
addressDf.drop(columns="İl", inplace=True)
addressDf

                İlçe                    Mahalle
0           Çankaya             Fakülteler Mah.
1           Çankaya           Bahçelievler Mah.
2          Keçiören              Yeşiltepe Mah.
3             Mamak                    Ege Mah.
4           Çankaya          Gaziosmanpaşa Mah.
...              ...                        ...
10325       Çankaya              Mutlukent Mah.
10326      Altındağ          Aydınlıkevler Mah.
10327      Keçiören    Kavacık Subayevleri Mah.
10328   Yenimahalle                Emniyet Mah.
10329       Çankaya                   Oran Mah.

[10330 rows x 2 columns]

In [98]:
#gereksiz sütunları kaldırma
df.drop(['photo-count', 'list-view-date', 'left', 'list-view-location', 'img-wrp href', 'he-lazy-image src', 'wp-btn', 'listing-card--owner-info__firm-name', 'img-wrp href 2', 'he-lazy-image src 2', 'listing-card--owner-info__name', 'he-lazy-image src 3', 'list-view-header','list-view-title'], axis=1,inplace=True)

In [99]:
#adresleri ve orijinal dataframe'imizi birleştirelim
df = pd.concat([df,addressDf], axis = 1)
df.head()

,img-link href,list-view-price,celly,celly 2,celly 3,celly 4,İlçe,Mahalle
0,https://www.hepsiemlak.com/ankara-cankaya-faku...,25.000,3 +\n 1,120 m²,40\n Yaşında,3. Kat,Çankaya,Fakülteler Mah.
1,https://www.hepsiemlak.com/ankara-cankaya-bahc...,38.000,2 +\n 1,90 m²,30\n Yaşında,1. Kat,Çankaya,Bahçelievler Mah.
2,https://www.hepsiemlak.com/ankara-kecioren-yes...,13.750,3 +\n 1,130 m²,25\n Yaşında,Yüksek Giriş,Keçiören,Yeşiltepe Mah.
3,https://www.hepsiemlak.com/ankara-mamak-ege-ki...,26.500,3 +\n 1,130 m²,13\n Yaşında,5. Kat,Mamak,Ege Mah.
4,https://www.hepsiemlak.com/ankara-cankaya-gazi...,55.000,5 +\n 1,225 m²,35\n Yaşında,Bahçe Katı,Çankaya,Gaziosmanpaşa Mah.

In [100]:
df.rename(columns={
    "img-link href": "Link",
    "list-view-price": "Fiyat",
    "celly": "Oda Sayısı",
    "celly 2": "m^2",
    "celly 3": "Bina Yaşı",
    "celly 4": "Kat"
}, inplace=True)

In [101]:
print(df['Oda Sayısı'].unique())

['3 +\n                          1' '2 +\n                          1'
 '5 +\n                          1' '4 +\n                          1'
 '1 +\n                          1' '4 +\n                          4'
 '6 +\n                          1' 'Stüdyo'
 '3 +\n                          2' '9 +\n                          3'
 '5 +\n                          0' '5 +\n                          2'
 '4 +\n                          0' '4 +\n                          2'
 '6 +\n                          2' '8 +\n                          1'
 '3 +\n                          0' '7 +\n                          1'
 '3 +\n                          3' '2 +\n                          0'
 '11 +\n                          3' '3 +\n                          5'
 '4 +\n                          5' '7 +\n                          2'
 '6 +\n                          6' '2 +\n                          2'
 '2 +\n                          3' '10 +\n                          1'
 '1 +\n                          3' '8 +\n                          2'
 '9 +\n                          1' '25 +\n                          2'
 '3 +\n                          11' '4 +\n                          3'
 '11 +\n                          4' '11 +\n                          1'
 '10 +\n                          2' '36 +\n                          15'
 '3 +\n                          12' '22 +\n                          1'
 '31 +\n                          2' '40 +\n                          10'
 '41 +\n                          8' '3 +\n                          10'
 '12 +\n                          3' '3 +\n                          4'
 '1 +\n                          11' '15 +\n                          1'
 '3 +\n                          91' '66 +\n                          1'
 '6 +\n                          3' '1 +\n                          2'
 '18 +\n                          6' '45 +\n                          0'
 '6 +\n                          0']

In [102]:
df['Oda Sayısı'] = df['Oda Sayısı'].apply(lambda x: x.replace('Stüdyo', '1 + 0') )
df['Oda Sayısı'] = df['Oda Sayısı'].apply(lambda x: x.replace('\n', '') )

In [103]:
df['Oda'] = df['Oda Sayısı'].apply(lambda x: x.split('+')[0] ).astype(int)
df['Salon'] = df['Oda Sayısı'].apply(lambda x: x.split('+')[1] ).astype(int)

In [104]:
df.drop(columns='Oda Sayısı', inplace=True)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10330 entries, 0 to 10329
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Link       10330 non-null  object
 1   Fiyat      10330 non-null  object
 2   m^2        10330 non-null  object
 3   Bina Yaşı  10326 non-null  object
 4   Kat        10127 non-null  object
 5   İlçe       10330 non-null  object
 6   Mahalle    10330 non-null  object
 7   Oda        10330 non-null  int64
 8   Salon      10330 non-null  int64
dtypes: int64(2), object(7)
memory usage: 726.5+ KB

In [106]:
df['m^2'].unique()

array(['120 m²', '90 m²', '130 m²', '225 m²', '110 m²', '220 m²',
       '200 m²', '105 m²', '160 m²', '150 m²', '135 m²', '145 m²',
       '65 m²', '85 m²', '118 m²', '75 m²', '125 m²', '40 m²', '95 m²',
       '155 m²', '115 m²', '140 m²', '45 m²', '180 m²', '175 m²',
       '100 m²', '350 m²', '43 m²', '168 m²', '210 m²', '165 m²',
       '190 m²', '1.450 m²', '170 m²', '195 m²', '138 m²', '285 m²',
       '330 m²', '640 m²', '70 m²', '55 m²', '108 m²', '3.540 m²',
       '60 m²', '700 m²', '35 m²', '162 m²', '62 m²', '260 m²', '300 m²',
       '83 m²', '230 m²', '80 m²', '128 m²', '450 m²', '127 m²', '50 m²',
       '139 m²', '54 m²', '185 m²', '240 m²', '98 m²', '107 m²', '313 m²',
       '151 m²', '412 m²', '250 m²', '164 m²', '30 m²', '96 m²', '154 m²',
       '159 m²', '82 m²', '183 m²', '58 m²', '72 m²', '67 m²', '117 m²',
       '158 m²', '1.105 m²', '86 m²', '276 m²', '360 m²', '149 m²',
       '94 m²', '124 m²', '280 m²', '99 m²', '1.120 m²', '126 m²',
       '122 m²', '375 m²', '112 m²', '132 m²', '292 m²', '102 m²',
       '750 m²', '123 m²', '650 m²', '500 m²', '430 m²', '900 m²',
       '97 m²', '270 m²', '167 m²', '103 m²', '113 m²', '92 m²', '89 m²',
       '93 m²', '57 m²', '161 m²', '290 m²', '232 m²', '144 m²', '78 m²',
       '114 m²', '66 m²', '104 m²', '1.200 m²', '142 m²', '137 m²',
       '470 m²', '116 m²', '141 m²', '255 m²', '146 m²', '235 m²',
       '166 m²', '400 m²', '79 m²', '310 m²', '242 m²', '26 m²', '52 m²',
       '133 m²', '197 m²', '56 m²', '216 m²', '119 m²', '101 m²',
       '169 m²', '245 m²', '163 m²', '380 m²', '184 m²', '157 m²',
       '399 m²', '129 m²', '201 m²', '171 m²', '21 m²', '148 m²',
       '320 m²', '1.500 m²', '68 m²', '88 m²', '69 m²', '1.100 m²',
       '1.215 m²', '84 m²', '131 m²', '143 m²', '174 m²', '63 m²',
       '204 m²', '147 m²', '229 m²', '121 m²', '205 m²', '189 m²',
       '1.750 m²', '600 m²', '490 m²', '275 m²', '109 m²', '550 m²',
       '74 m²', '305 m²', '221 m²', '420 m²', '20 m²', '192 m²', '134 m²',
       '38 m²', '27 m²', '219 m²', '73 m²', '76 m²', '2.560 m²', '47 m²',
       '48 m²', '800 m²', '560 m²', '53 m²', '630 m²', '233 m²', '269 m²',
       '198 m²', '196 m²', '172 m²', '153 m²', '395 m²', '87 m²',
       '181 m²', '59 m²', '173 m²', '37 m²', '186 m²', '64 m²', '209 m²',
       '91 m²', '1.000 m²', '2.000 m²', '44 m²', '1.121 m²', '178 m²',
       '156 m²', '106 m²', '215 m²', '46 m²', '193 m²', '187 m²', '32 m²',
       '176 m²', '1.300 m²', '223 m²', '42 m²', '36 m²', '194 m²',
       '3.400 m²', '325 m²', '254 m²', '326 m²', '265 m²', '152 m²',
       '340 m²', '25 m²', '394 m²', '459 m²', '449 m²', '188 m²',
       '565 m²', '179 m²', '177 m²', '77 m²', '390 m²', '28 m²', '272 m²',
       '870 m²', '208 m²', '71 m²', '222 m²', '416 m²', '31 m²',
       '1.820 m²', '385 m²', '51 m²', '1.250 m²', '371 m²', '49 m²',
       '23 m²', '226 m²', '191 m²', '256 m²', '253 m²', '279 m²',
       '850 m²', '267 m²', '61 m²', '22 m²', '760 m²', '211 m²', '238 m²',
       '203 m²', '33 m²'], dtype=object)

In [107]:
df['m^2'] = df['m^2'].apply(lambda x: x.replace('m²', ''))
df['m^2'] = df['m^2'].apply(lambda x: x.replace('.', '')).astype(int)

In [108]:
df['m^2'].unique()

array([ 120,   90,  130,  225,  110,  220,  200,  105,  160,  150,  135,
        145,   65,   85,  118,   75,  125,   40,   95,  155,  115,  140,
         45,  180,  175,  100,  350,   43,  168,  210,  165,  190, 1450,
        170,  195,  138,  285,  330,  640,   70,   55,  108, 3540,   60,
        700,   35,  162,   62,  260,  300,   83,  230,   80,  128,  450,
        127,   50,  139,   54,  185,  240,   98,  107,  313,  151,  412,
        250,  164,   30,   96,  154,  159,   82,  183,   58,   72,   67,
        117,  158, 1105,   86,  276,  360,  149,   94,  124,  280,   99,
       1120,  126,  122,  375,  112,  132,  292,  102,  750,  123,  650,
        500,  430,  900,   97,  270,  167,  103,  113,   92,   89,   93,
         57,  161,  290,  232,  144,   78,  114,   66,  104, 1200,  142,
        137,  470,  116,  141,  255,  146,  235,  166,  400,   79,  310,
        242,   26,   52,  133,  197,   56,  216,  119,  101,  169,  245,
        163,  380,  184,  157,  399,  129,  201,  171,   21,  148,  320,
       1500,   68,   88,   69, 1100, 1215,   84,  131,  143,  174,   63,
        204,  147,  229,  121,  205,  189, 1750,  600,  490,  275,  109,
        550,   74,  305,  221,  420,   20,  192,  134,   38,   27,  219,
         73,   76, 2560,   47,   48,  800,  560,   53,  630,  233,  269,
        198,  196,  172,  153,  395,   87,  181,   59,  173,   37,  186,
         64,  209,   91, 1000, 2000,   44, 1121,  178,  156,  106,  215,
         46,  193,  187,   32,  176, 1300,  223,   42,   36,  194, 3400,
        325,  254,  326,  265,  152,  340,   25,  394,  459,  449,  188,
        565,  179,  177,   77,  390,   28,  272,  870,  208,   71,  222,
        416,   31, 1820,  385,   51, 1250,  371,   49,   23,  226,  191,
        256,  253,  279,  850,  267,   61,   22,  760,  211,  238,  203,
         33])

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10330 entries, 0 to 10329
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Link       10330 non-null  object
 1   Fiyat      10330 non-null  object
 2   m^2        10330 non-null  int64
 3   Bina Yaşı  10326 non-null  object
 4   Kat        10127 non-null  object
 5   İlçe       10330 non-null  object
 6   Mahalle    10330 non-null  object
 7   Oda        10330 non-null  int64
 8   Salon      10330 non-null  int64
dtypes: int64(3), object(6)
memory usage: 726.5+ KB

In [110]:
df['Bina Yaşı'].unique()

array(['40\n                        Yaşında',
       '30\n                        Yaşında',
       '25\n                        Yaşında',
       '13\n                        Yaşında',
       '35\n                        Yaşında',
       '5\n                        Yaşında',
       '10\n                        Yaşında',
       '20\n                        Yaşında',
       '15\n                        Yaşında', 'Sıfır Bina',
       '3\n                        Yaşında',
       '50\n                        Yaşında',
       '7\n                        Yaşında',
       '28\n                        Yaşında',
       '29\n                        Yaşında',
       '17\n                        Yaşında',
       '36\n                        Yaşında',
       '45\n                        Yaşında',
       '18\n                        Yaşında',
       '22\n                        Yaşında',
       '43\n                        Yaşında',
       '4\n                        Yaşında',
       '38\n                        Yaşında',
       '27\n                        Yaşında',
       '16\n                        Yaşında',
       '8\n                        Yaşında',
       '14\n                        Yaşında',
       '26\n                        Yaşında',
       '1\n                        Yaşında',
       '6\n                        Yaşında',
       '21\n                        Yaşında',
       '12\n                        Yaşında',
       '19\n                        Yaşında',
       '33\n                        Yaşında',
       '24\n                        Yaşında',
       '11\n                        Yaşında',
       '42\n                        Yaşında',
       '2\n                        Yaşında',
       '9\n                        Yaşında',
       '31\n                        Yaşında',
       '23\n                        Yaşında',
       '32\n                        Yaşında',
       '54\n                        Yaşında',
       '60\n                        Yaşında',
       '55\n                        Yaşında',
       '39\n                        Yaşında',
       '47\n                        Yaşında',
       '34\n                        Yaşında',
       '51\n                        Yaşında',
       '37\n                        Yaşında',
       '44\n                        Yaşında',
       '48\n                        Yaşında',
       '41\n                        Yaşında',
       '49\n                        Yaşında',
       '52\n                        Yaşında',
       '46\n                        Yaşında',
       '123\n                        Yaşında',
       '58\n                        Yaşında', nan,
       '167\n                        Yaşında',
       '445\n                        Yaşında',
       '125\n                        Yaşında',
       '340\n                        Yaşında',
       '110\n                        Yaşında',
       '59\n                        Yaşında',
       '81\n                        Yaşında',
       '80\n                        Yaşında',
       '115\n                        Yaşında',
       '101\n                        Yaşında',
       '220\n                        Yaşında'], dtype=object)

In [127]:
print(df['Bina Yaşı'].value_counts())  # Sütundaki değerlerin sıklığını göster
print(df['Bina Yaşı'].isnull().sum())  # NULL değer sayısını göster
print((df['Bina Yaşı'] == '').sum())   # Boş string ('') olan değerlerin sayısını göster
df['Bina Yaşı'] = df['Bina Yaşı'].replace('', '0')  # Boş stringleri sıfırla değiştir
df['Bina Yaşı'] = df['Bina Yaşı'].fillna('0')      # NULL değerleri sıfırla değiştir

Bina Yaşı
0      961
30     862
25     792
20     642
15     609
      ...
167      1
58       1
123      1
54       1
220      1
Name: count, Length: 70, dtype: int64
0
4

In [132]:
df['Bina Yaşı'] = df['Bina Yaşı'].astype(str)  # Stringe dönüştür
df['Bina Yaşı'] = df['Bina Yaşı'].str.strip()  # Boşlukları temizle
df['Bina Yaşı'] = df['Bina Yaşı'].str.replace(r'\D', '', regex=True)  # Harf ve sembolleri temizle
df['Bina Yaşı'] = df['Bina Yaşı'].astype(int)  # Integer'e dönüştür

In [133]:
print(df['Bina Yaşı'].unique())

[ 40  30  25  13  35   5  10  20  15   0   3  50   7  28  29  17  36  45
  18  22  43   4  38  27  16   8  14  26   1   6  21  12  19  33  24  11
  42   2   9  31  23  32  54  60  55  39  47  34  51  37  44  48  41  49
  52  46 123  58 167 445 125 340 110  59  81  80 115 101 220]

In [134]:
kat_replace = {
    'Kot 1':'-1. Kat',
    'Kot 2':'-2. Kat',
    'Kot 3':'-3. Kat',
    'Yüksek Giriş':'1. Kat',
    'Ara Kat':'3. Kat',
    'En Üst Kat':'6. Kat',
    'Bahçe Katı': '0. Kat',
    'Giriş Katı' :'0. Kat',
    'Zemin':'0. Kat',
    '21 ve üzeri': '21. Kat',
    'Teras Katı': '6. Kat',
    'Çatı Katı' :'6. Kat',
    'Yarı Bodrum' : '0. Kat',
    'Bodrum': '0. Kat',
    'Bodrum ve Zemin':'0. Kat',
    'Villa Katı': '0. Kat'
}
df['Kat'] = df['Kat'].replace(kat_replace.keys(), kat_replace.values())
print(df['Kat'].unique())

['3. Kat' '1. Kat' '5. Kat' '0. Kat' '9. Kat' '2. Kat' '-1. Kat' '4. Kat'
 '14. Kat' '7. Kat' '-2. Kat' '6. Kat' nan '21. Kat' '10. Kat' '12. Kat'
 '8. Kat' '11. Kat' '18. Kat' '-3. Kat' '13. Kat' '16. Kat' '20. Kat'
 '19. Kat' '15. Kat' '17. Kat']

In [135]:
df.dropna(subset=['Kat'], inplace=True)
df['Kat'] = df['Kat'].apply(lambda x: x.replace('. Kat', ' '))
df['Kat'] = df['Kat'].apply(lambda x: x.replace(' ', '')).astype(int)
print(df['Kat'].unique())

[ 3  1  5  0  9  2 -1  4 14  7 -2  6 21 10 12  8 11 18 -3 13 16 20 19 15
 17]

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10127 entries, 0 to 10329
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Link       10127 non-null  object
 1   Fiyat      10127 non-null  object
 2   m^2        10127 non-null  int64
 3   Bina Yaşı  10127 non-null  int64
 4   Kat        10127 non-null  int64
 5   İlçe       10127 non-null  object
 6   Mahalle    10127 non-null  object
 7   Oda        10127 non-null  int64
 8   Salon      10127 non-null  int64
dtypes: int64(5), object(4)
memory usage: 791.2+ KB

In [137]:
print(df['Fiyat'].unique())

['25.000' '38.000' '13.750' '26.500' '55.000' '31.500' '35.000' '30.000'
 '36.000' '21.500' '27.500' '39.000' '32.000' '14.250' '28.000' '15.000'
 '23.000' '16.300' '13.500' '17.000' '34.000' '20.000' '29.500' '26.000'
 '27.000' '20.500' '29.000' '22.500' '23.900' '22.000' '45.000' '16.000'
 '33.000' '59.000' '43.000' '19.000' '18.000' '18.500' '24.000' '13.000'
 '23.500' '57.000' '32.500' '17.500' '60.000' '21.000' '15.750' '14.500'
 '17.600' '14.000' '24.500' '15.400' '58.000' '15.500' '38.500' '40.000'
 '12.500' '44.000' '72.000' '25.500' '31.000' '18.750' '10.000' '37.000'
 '49.000' '10.500' '19.500' '54.000' '2.900' '14.750' '11.750' '12.000'
 '10.900' '50.000' '18.400' '13.150' '200.000' '63.000' '25.900' '29.250'
 '64.000' '49.500' '25.750' '42.000' '41.000' '34.950' '2.150.000'
 '16.500' '17.250' '28.500' '11.000' '29.750' '37.500' '20.750' '25.850'
 '185.000' '19.900' '17.400' '54.500' '24.750' '7.500' '6.000' '39.500'
 '150.000' '11.950' '51.000' '19.250' '95.000' '75.000' '56.000' '20.250'
 '13.350' '42.500' '12.750' '15.249' '15.250' '17.750' '17.999' '775.000'
 '36.500' '13.250' '12.950' '9.500' '69.000' '9.000' '46.000' '8.500'
 '41.500' '92.000' '19.750' '245.250' '13.200' '14.999' '12.250' '17.900'
 '52.000' '47.000' '24.250' '13.100' '85.000' '48.000' '18.250' '11.500'
 '14.900' '45.500' '47.500' '30.500' '51.500' '78.000' '13.999' '56.500'
 '27.750' '33.500' '65.000' '260.000' '61.500' '19.990' '19.999' '16.250'
 '100.000' '72.500' '76.000' '70.000' '30.750' '19.950' '22.250'
 '2.499.000' '40.500' '23.750' '68.000' '11.900' '16.750' '10.250'
 '28.750' '27.400' '35.500' '8.000' '1.700' '2.450.000' '13.400' '210.000'
 '19.400' '23.999' '14.200' '22.750' '265.000' '61.000' '53.000'
 '1.950.000.000' '18.450' '79.000' '20.999' '23.450' '87.500' '22.850'
 '190.000' '4.490.000' '125.000' '120.000' '30.250' '99.000' '18.900'
 '25.999' '16.800' '17.100' '3.200.000' '16.990' '380.000' '67.500'
 '52.500' '3.946.000' '170.000' '36.900' '29.900' '62.000' '46.500'
 '35.250' '18.150' '230.000' '1.999.000' '450.000' '8.250' '67.000'
 '110.000' '175.000' '9.250' '34.500' '16.200' '37.950' '18.999' '7.200'
 '19.200' '3.250.000' '29.950' '1.600.000' '25.700' '165.000' '26.750'
 '14.990' '79.500' '74.000' '15.950' '15.900' '20.450' '43.500' '20.100'
 '14.800' '12.850' '12.800' '250.000' '25.250' '23.250' '18.200' '5.000'
 '29.999' '14.449' '22.900' '43.750' '94.000' '21.750' '7.000' '21.250'
 '4.000' '1.635.000' '21.999' '10.100' '105.000' '1.530.000' '9.750'
 '14.700' '10.950' '32.250' '22.222' '54.750' '13.850' '39.750' '28.200'
 '80.000' '3.700.000' '15.300' '77.000' '10.800' '23.400' '17.800'
 '39.900' '86.000' '35.750' '106.000' '48.750' '7.500.000' '122.000'
 '90.000' '17.350' '3.750.000' '24.850' '20.900' '87.000' '16.999'
 '68.500' '21.900' '3.050.000' '16.100' '21.950' '42.999' '115.000'
 '15.200' '24.400' '400.000' '38.700' '20.400' '4.250.000' '15.700'
 '44.500' '31.900' '8.750' '88.000' '17.300' '34.250' '12.300' '145.000'
 '24.900' '9.000.000' '27.900' '13.800' '16.600' '59.500' '64.900' '1.111'
 '33.300' '13.990' '57.500' '6.500' '10.300' '24.449' '155.000' '62.500'
 '24.300' '1.550.000' '32.550' '48.500' '14.400' '1.000' '14.850' '2.500'
 '2.990.000' '20.150' '11.200' '9.100' '15.555' '67.250' '3.650.000'
 '4.950.000' '1.075.000' '58.500' '14.300' '89.000' '66.000' '10.750'
 '40.293' '16.400' '23.200' '73.000' '16.950' '130.000' '21.100' '76.500'
 '84.000' '133.000']

In [138]:
df['Fiyat'] = df['Fiyat'].astype(str).apply(lambda x: x.replace('.',''))
df['Fiyat']= df['Fiyat'].astype(int)
print(df['Fiyat'].unique())

[     25000      38000      13750      26500      55000      31500
      35000      30000      36000      21500      27500      39000
      32000      14250      28000      15000      23000      16300
      13500      17000      34000      20000      29500      26000
      27000      20500      29000      22500      23900      22000
      45000      16000      33000      59000      43000      19000
      18000      18500      24000      13000      23500      57000
      32500      17500      60000      21000      15750      14500
      17600      14000      24500      15400      58000      15500
      38500      40000      12500      44000      72000      25500
      31000      18750      10000      37000      49000      10500
      19500      54000       2900      14750      11750      12000
      10900      50000      18400      13150     200000      63000
      25900      29250      64000      49500      25750      42000
      41000      34950    2150000      16500      17250      28500
      11000      29750      37500      20750      25850     185000
      19900      17400      54500      24750       7500       6000
      39500     150000      11950      51000      19250      95000
      75000      56000      20250      13350      42500      12750
      15249      15250      17750      17999     775000      36500
      13250      12950       9500      69000       9000      46000
       8500      41500      92000      19750     245250      13200
      14999      12250      17900      52000      47000      24250
      13100      85000      48000      18250      11500      14900
      45500      47500      30500      51500      78000      13999
      56500      27750      33500      65000     260000      61500
      19990      19999      16250     100000      72500      76000
      70000      30750      19950      22250    2499000      40500
      23750      68000      11900      16750      10250      28750
      27400      35500       8000       1700    2450000      13400
     210000      19400      23999      14200      22750     265000
      61000      53000 1950000000      18450      79000      20999
      23450      87500      22850     190000    4490000     125000
     120000      30250      99000      18900      25999      16800
      17100    3200000      16990     380000      67500      52500
    3946000     170000      36900      29900      62000      46500
      35250      18150     230000    1999000     450000       8250
      67000     110000     175000       9250      34500      16200
      37950      18999       7200      19200    3250000      29950
    1600000      25700     165000      26750      14990      79500
      74000      15950      15900      20450      43500      20100
      14800      12850      12800     250000      25250      23250
      18200       5000      29999      14449      22900      43750
      94000      21750       7000      21250       4000    1635000
      21999      10100     105000    1530000       9750      14700
      10950      32250      22222      54750      13850      39750
      28200      80000    3700000      15300      77000      10800
      23400      17800      39900      86000      35750     106000
      48750    7500000     122000      90000      17350    3750000
      24850      20900      87000      16999      68500      21900
    3050000      16100      21950      42999     115000      15200
      24400     400000      38700      20400    4250000      15700
      44500      31900       8750      88000      17300      34250
      12300     145000      24900    9000000      27900      13800
      16600      59500      64900       1111      33300      13990
      57500       6500      10300      24449     155000      62500
      24300    1550000      32550      48500      14400       1000
      14850       2500    2990000      20150      11200       9100
      15555      67250    3650000    4950000    1075000      58500
      14300      89000      66000      10750      40293      16400
      23200      73000      16950     130000      21100      76500
      84000     133000]

In [139]:
df.head()

,Link,Fiyat,m^2,Bina Yaşı,Kat,İlçe,Mahalle,Oda,Salon
0,https://www.hepsiemlak.com/ankara-cankaya-faku...,25000,120,40,3,Çankaya,Fakülteler Mah.,3,1
1,https://www.hepsiemlak.com/ankara-cankaya-bahc...,38000,90,30,1,Çankaya,Bahçelievler Mah.,2,1
2,https://www.hepsiemlak.com/ankara-kecioren-yes...,13750,130,25,1,Keçiören,Yeşiltepe Mah.,3,1
3,https://www.hepsiemlak.com/ankara-mamak-ege-ki...,26500,130,13,5,Mamak,Ege Mah.,3,1
4,https://www.hepsiemlak.com/ankara-cankaya-gazi...,55000,225,35,0,Çankaya,Gaziosmanpaşa Mah.,5,1

In [140]:
df['Oda Sayısı'] = (df['Oda'] + df['Salon']).astype(int)

In [141]:
#gereksiz sütunları kaldırma
df.drop(['Oda', 'Salon', 'Link'], axis=1,inplace=True)

In [142]:
columns = [ 'İlçe', 'Mahalle', 'Oda Sayısı','m^2','Bina Yaşı', 'Kat',  'Fiyat']
df = df[columns]
# DataFrame'in kopyasını oluştur (link kolonunu silmeden önce bu şekilde bi kalsın istedim)
df_copy = df.copy()

In [143]:
df['Mahalle'] = df['Mahalle'].apply(lambda x: x.replace(' Mah.', ''))
df.head()

         İlçe         Mahalle  Oda Sayısı  m^2  Bina Yaşı  Kat  Fiyat
0    Çankaya       Fakülteler           4  120         40    3  25000
1    Çankaya     Bahçelievler           3   90         30    1  38000
2   Keçiören        Yeşiltepe           4  130         25    1  13750
3      Mamak              Ege           4  130         13    5  26500
4    Çankaya    Gaziosmanpaşa           6  225         35    0  55000

In [144]:
#temizlediğimiz verileri yeni bir csv dosyasına aktaralım
df.to_csv('data.csv',index=False)

modeli ilk kurduğumuzda salon sayısını önemsiz ve oda sayısının önem düzeyini negatif olarak algıladı. bu durumu düzenleyebilmek için oda sayısı adında yeni bir sayısal kolon oluşturup oda sayısı değerlerinin toplamını gireceğiz yukarıda bu işlemleri yapıp devam edelim

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10127 entries, 0 to 10329
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   İlçe        10127 non-null  object
 1   Mahalle     10127 non-null  object
 2   Oda Sayısı  10127 non-null  int64
 3   m^2         10127 non-null  int64
 4   Bina Yaşı   10127 non-null  int64
 5   Kat         10127 non-null  int64
 6   Fiyat       10127 non-null  int64
dtypes: int64(5), object(2)
memory usage: 632.9+ KB